@import "tailwindcss";

@font-face {
    font-family: 'Onest Variable';
}
@theme {
    --breakpoint-xs: 390px;
    --color-label: #1458d8;
}

.container-section {
    @apply max-w-6xl mx-auto px-4 md:px-3;
}

@keyframes gradient-flow {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.button-gradient-flow {
    @apply text-white shadow-md shadow-blue-600/20;
    @apply hover:shadow-lg hover:shadow-blue-600/40 active:scale-[0.98];
    @apply transition-all duration-300;
    background-image: linear-gradient(
        90deg,
        #2563eb,
        #3b82f6,
        #60a5fa,
        #3b82f6,
        #2563eb
    );
    background-size: 200% 100%;
    background-position: 0% 50%;
    animation: gradient-flow 3.5s ease-in-out infinite alternate;
}