---
import { Image } from 'astro:assets';
import logo from '../../assets/images/logo.webp';
---

<footer class="border-t border-gray-200 bg-gray-50 py-15  overflow-hidden relative">
    <div class="container-section flex flex-col md:flex-row items-center gap-y-5 md:justify-between">
        <div class="flex flex-col items-center text-center gap-y-2">
            <h5 class="text-sm text-gray-600 font-medium">
                &copy; 2026 MasterCred.
            </h5>
            <p class="text-xs md:text-sm text-gray-500 max-w-xs">
                Financiación simple y segura para tus compras en comercios de Junín.
            </p>
        </div>
        <Image src={logo} alt="MasterCred" class="size-10" />
        <nav aria-label="Navegacion Secundaria">
            <ul class="flex items-center text-sm text-gray-600 font-medium gap-6">
                <li>
                    <a href="#function" class="hover:text-blue-600 transition-all duration-300">Funcionamiento</a>
                </li>
                <li>
                    <a href="#commerce" class="hover:text-blue-600 transition-all duration-300">Comercios</a>
                </li>
                <li>
                    <a href="#contact" class="hover:text-blue-600 transition-all duration-300">Contacto</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="absolute bottom-7 top-50 md:top-42 left-1/2 -translate-x-1/2 justify-center items-center opacity-5 pointer-events-none flex">
        <span class="text-4xl md:text-[8rem] font-black uppercase">Mastercred</span>
    </div>
</footer>