---
import FunctionItem from '../FunctionItem.astro';

const steps = [
    {
        step: '01',
        label: 'Comenzar proceso',

        left: {
            title: 'Solicitá <span class="text-blue-600">tu crédito en minutos</span>, sin complicaciones.',
            description: 'Completá el un formulario online y envia tu solicitud directamente por WhatsApp ',
            features: [
                {
                    title: 'Formulario rapido',
                    description: 'Completa tus datos en menos de 2 minutos desde cualquier dispositivo.'
                },
                {
                    title: 'Envio directo por WhatsApp',
                    description: 'Tu solicitud llega de forma inmediata para comenzar el procedimiento.'
                },
                {
                    title: 'Proceso 100% digital',
                    description: 'Sin papeles, sin impresiones y sin moverte de tu casa'
                },
            ]
        },
        right: {
            tagline: 'Rapidos. Simple. Online', 
            title: 'Paso 1: Solicita tu crédito',
        },
    },
    {
        step: '02',
        label: 'Evaluación crediticia',
        left: {
            title: 'Analizamos tu solicitud en <span class="text-blue-600">tiempo real</span>.',
            description: 'Evaluamos tu perfil crediticio de forma rapida y segura para determinar tu aprobación',
            features: [
                {
                    title: 'Evaluación automática',
                    description: 'Procesamos tu solicitud con criterios claros.'
                },
                {
                    title: 'Seguridad garantizada.',
                    description: 'Tus datos estan protegidos mediante sistemas de validación confiables.'
                },
                {
                    title: 'Respuesta con tiempo real.',
                    description: 'Recibirás una respuesta dentro de 48 horas para que puedas tomar decisiones inmediatas.'
                },
            ]
        },
        right: {
            tagline: 'Rapido. Seguro. Confiable',
            title: 'Paso 2: Evaluamos tu solicitud',
        },
    },
    {
        step: "03",
        label: "Confirmación",
        left: {
            title: "Recibi tu aprobación y <span class='text-blue-600'>comienza a comprar</span>.",
            description: "Te confirmamos por WhatsApp si tu crédito fue aprobado y ya podes usarlo en comercios adheridos a MasterCred",
            features: [
                {
                    title: "Notificación inmediata",
                    description: "Te informamos por WhatsApp cuando tu crédito está aprobado."
                },
                {
                    title: "Compra en cuotas.",
                    description: "Accede a financiamiento en múltiples comercios adheridos."
                },
                {
                    title: "Inicio claro del plan.",
                    description: "La primera cuota se abona al comenzar tu financiación.",
                },
            ]
        },
        right: {
            tagline: "Aprobado. Agil. Accesible.",
            title: "Paso 3: Usa tu crédito",
        }
    }
]
---





<section id="function" class="bg-gray-50 relative overflow-hidden py-10 md:py-20">
    <div class="container-section">
        <span class="text-sm text-blue-600/60 font-semibold mb-3"> Funcionamiento</span>
        <h2 class="text-2xl md:text-3xl font-bold uppercase mt-2">
            Como funciona MasterCred
        </h2>
        <div class="relative mt-6">
            {steps.map((step, i) => (
                <FunctionItem step={step} index={i} />
            ))}
        </div>
    </div>
    <div class="absolute bottom-7 inset-x-0 justify-center items-center opacity-5 translate-y-1/2 pointer-events-none hidden lg:flex">
        <span class="text-[8rem] font-black uppercase">Pasos</span>
    </div>
</section>

<script>
import '../../scripts/animations/function.js';
</script>