---
import Commerce from '../../assets/svgs/Commerce.svg';
import Clients from '../../assets/svgs/Clients.svg';
import Years from '../../assets/svgs/Years.svg';

import { Image } from 'astro:assets';
import HeroImage from '../../assets/images/HeroSectionMastercred.jpg';
---



<section class="min-h-screen w-full pt-5 md:pt-0 flex items-center bg-cover bg-center" id="hero">
        <div class="container-section grid grid-cols-1 lg:grid-cols-[1.8fr_1.2fr] gap-y-10 gap-x-5 items-center w-full">

            <div class="flex flex-col gap-y-4">
                <div class="flex gap-x-2 items-center px-2 py-1 bg-label/20 w-fit">
                <span class="w-2 h-2 bg-label rounded-full animate-pulse"></span>
                <span data-hero-tagline class="text-xs md:text-sm text-label font-semibold w-fit ">
                    Tu financiación en comercios de Junín
                </span>
                </div>
                <h1 data-hero-title class="text-5xl md:text-8xl text-balance italic leading-tight  font-semibold uppercase">
                    Comprá hoy  
                    <span class="text-blue-600 ">y pagá en cuotas.</span>
                </h1>
                <p data-hero-description class="text-sm md:text-base max-w-sm md:max-w-xl border-l-3 pl-2 border-blue-600 text-gray-600 ">
                    Usá <strong> MasterCred para financiar tus compras
                    de forma simple </strong> en comercios adheridos de indumentaria, calzados, deportes y más.
                </p>

                <div data-hero-cta class="flex flex-col xs:flex-row xs:items-center gap-4 mt-4 text-sm md:text-base ">
                    <a href="/" class=" px-3 py-2 w-fit bg-blue-600 text-white hover:bg-blue-500 shadow-md hover:shadow-lg hover:font-semibold hover:shadow-blue-600/20 transition-all duration-300 ">
                        Consultar financiación
                    </a>
                    <a href="/" class="px-3 py-2 w-fit border border-black/20 hover:border-black/50 hover:font-semibold hover:shadow-lg hover:shadow-black/10 transition-all duration-300 ">
                        Ver comercios adheridos
                    </a>
                </div>

                <dl class="grid grid-cols-3 justify-items-start gap-x-2 mt-10 divide-black/20">

                    <div data-metric class="flex flex-col gap-y-2 items-center group hover:-translate-y-1 transition-[translate,color] duration-300">
                        <dt  class="font-semibold flex items-center gap-x-2">
                            <Commerce />
                            <span>+25</span>
                        </dt>
                        <dd class="text-[11px] xs:text-xs md:text-sm text-gray-600 group-hover:text-blue-600 transition-colors duration-300">
                            Comercios adheridos</dd>
                    </div>

                    <div data-metric class="flex flex-col gap-y-2 items-center group hover:-translate-y-1 transition-[translate,color] duration-300">
                        <dt class="font-semibold flex items-center gap-x-2">
                            <Clients />
                            <span>+3K</span>
                        </dt>
                        <dd class="text-[11px] xs:text-xs md:text-sm text-gray-600 group-hover:text-blue-600 transition-colors duration-300">Clientes satisfechos</dd>
                    </div>

                    <div data-metric class="flex flex-col gap-y-2 items-center group hover:-translate-y-1 transition-[translate,color] duration-300">
                        <dt class="font-semibold flex items-center gap-x-2">
                            <Years />
                            <span>+10</span>
                        </dt>
                        <dd class="text-[11px] xs:text-xs md:text-sm text-gray-600 group-hover:text-blue-600 transition-colors duration-300">Años de experiencia</dd>
                    </div>
                </dl>
            </div>
            <Image data-hero-image src={HeroImage} alt="Imagen de préstamos" class="hidden lg:block size-full drop-shadow-xl border border-black"/>
        </div>
        <script>
            import '../../scripts/animations/hero.js';
        </script>
</section>