---
import CommerceIcon from '../icons/CommerceIcon.astro';
import ClientsIcon from '../icons/ClientsIcon.astro';
import YearsIcon from '../icons/YearsIcon.astro';

import { Image } from 'astro:assets';
import HeroImage from '../../assets/images/HeroSectionMastercred.jpg';
---



<section class="min-h-screen w-full pt-10 md:pt-0 flex items-center bg-cover bg-center px-1 md:px-3">
        <div class="max-w-6xl mx-auto grid grid-cols-1 lg:grid-cols-[1.8fr_1.2fr] gap-y-10 gap-x-5 items-center w-full">

            <div class="flex flex-col gap-y-4">
                <span class="text-xs md:text-sm text-blue-600 font-semibold px-2 py-1 w-fit bg-blue-400/20  ">
                    Tu financiacion en comercios de Junin
                </span>
                <h1 class="text-5xl md:text-8xl text-balance italic leading-tight  font-semibold uppercase">
                    Comprá hoy  
                    <span class="text-blue-600 ">y pagá en cuotas.</span>
                </h1>
                <p class="text-sm md:text-base max-w-sm  md:max-w-xl border-l-3 pl-2 border-blue-600 text-black/70 ">
                    Usá <strong> Mastercred para financiar tus compras
                    de forma simple </strong> en comercios adheridos de indumentaria, calzados, deportes y mas.
                </p>

                <div class="flex flex-col xs:flex-row xs:items-center gap-4 mt-4 text-sm md:text-base ">
                    <a href="/" class=" px-3 py-2 w-fit bg-blue-500 text-white hover:bg-blue-600 shadow-md hover:shadow-lg hover:font-semibold hover:shadow-blue-600/20 transition-all duration-300 ">
                        Consultar financiacion
                    </a>
                    <a href="/" class="px-3 py-2 w-fit border border-black/20  hover:border-black/50 hover:font-semibold hover:shadow-lg hover:shadow-black/10 transition-all duration-300 ">
                        Ver comercios adheridos
                    </a>
                </div>

                <dl class="grid grid-cols-3 justify-items-start gap-x-2 mt-10  divide-black/20">
                    <div class="flex flex-col gap-y-2 items-center group hover:-translate-y-1 transition-all duration-300 ">
                        <dt class="font-semibold flex items-center gap-x-2">
                            <CommerceIcon/>
                            +25
                        </dt>
                        <dd class="text-[11px] xs:text-xs md:text-sm text-gray-500 group-hover:text-blue-600 transition-all duration-300 ">Comercios adheridos</dd>
                    </div>

                    <div class="flex flex-col gap-y-2 items-center group hover:-translate-y-1 transition-all duration-300">
                        <dt class="font-semibold flex items-center gap-x-2">
                            <ClientsIcon />
                            +3K
                        </dt>
                        <dd class="text-[11px] xs:text-xs md:text-sm text-gray-500 group-hover:text-blue-600 transition-all duration-300 ">Clientes satisfechos</dd>
                    </div>

                    <div class="flex flex-col gap-y-2 items-center group hover:-translate-y-1 transition-all duration-300">
                        <dt class="font-semibold flex items-center gap-x-2">
                            <YearsIcon />
                            +10
                        </dt>
                        <dd class="text-[11px] xs:text-xs md:text-sm text-gray-500 group-hover:text-blue-600 transition-all duration-300 ">Años de experiencia</dd>
                    </div>
                </dl>
            </div>
            <Image src={HeroImage} alt="Imagen de prestamos" class="hidden lg:block size-full drop-shadow-xl border border-black"/>
        </div>
</section>