---
import '../styles/global.css';
import '@fontsource-variable/onest';
import Header from '../components/sections/Header.astro';
import Footer from '../components/sections/Footer.astro';
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.webp" type="image/webp" />
		<title>MasterCred — Créditos en comercios de Junín</title>

		<referrer-policy "strict-origin-when-cross-origin" />
		<x-frame-options "SAMEORIGIN" />

		<meta name="robots" content="index, follow"/>
		<meta name="description" content="MasterCred es una plataforma de créditos en comercios de Junín. Ofrecemos créditos simples y seguros para tus compras en comercios de Junín."/>
		<meta name="keywords" content="MasterCred, créditos, comercios, Junín, prestamos, financiación, simple, seguro"/>
		<meta name="author" content="MasterCred"/>
		<canonical href="https://mastercred.com.ar" />
	</head>
	<body class="font-sans ">
		<Header />
		<main>
		    <slot />
	    </main>
		<Footer />
	</body>
	<script>
	import { initLenis } from '../scripts/lenis.js'
    initLenis()
	</script>
</html>



<style is:global>
	body {
        font-family: 'Onest Variable', system-ui, sans-serif;
	    *:focus-visible{
            outline: none;
            box-shadow: 0 0 0 1px #2563eb;
        }
}
</style>
